body{
align-items: center;
justify-content: center;
text-align: center;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
margin: auto;
padding: 20px;}
table{
width: 60%;
height: 40px;
border-color: black;
background-color: rgb(172, 231, 154);
align-items: center;
justify-content: center;
text-align: center;
margin: auto;
}
table th{
background-color: rgb(4, 83, 35);
color: azure;
padding: 2px;}

caption{
align-items: center;
justify-content: center;
}
.Encabezado{
width: 300px;
height: 40px;
text-align: center;}
.Cuerpo{
    width: 300px;
    height: 40px;
    text-align: center;}
input{
    width: 300px;
    height: 40px;
    text-align: center;
}

.Conversor{
    width: 60%;
    height: auto;
background-color: beige;
text-align: center;
justify-content: center;
align-items: center;
margin: auto;
}

@media (max-width: 600px) {
    input{
        width: 80%;
        height: auto;
    }
    .Cuerpo{
        width: 80%;
        height: auto;}
    .Encabezado{
        width: 80%;
        height: auto;}
    .Conversor{
        width: 80%;
        height: auto;
    }
    table{
        width: 80%;
        height: auto;
    }
}
